*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    /* background-color: yellowgreen; */
}

#master{
    margin: auto;
    width: 100%;
    height: 100%;
    /*background-color: yellow;*/
}

header{
    margin: auto;
    width: 95%;
    height: 100%;
    /*background-color: aqua;*/
}

/* WRAPPER **/
.wrapper {
    margin: auto;
    width: 95%;
    /*background-color: bisque;*/
}

.wrapper a img{
    width: 90px;
    height: 90px;
}

.wrapper ul {
    list-style: none;
}

/* MENU PRINCIPAL DEL HEADER */
.navPrimary {
    margin: auto;
    width: 95%;
    /*background-color: violet;*/
    margin-top: 65px;
}

.navPrimary ul a {
    background-color: red;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 50px;
    display: block;
}

.ulprimary> li{
    float: left;
}

.ulprimary li a:hover{
    background-color: #4343;
}

.ulprimary li ul{
    display: none;
    position: absolute;
    min-width: 100px;
}

.ulprimary li:hover >ul{
    display: block;
}

.ulprimary li ul li {
    position: relative;
}

.ulprimary li ul li ul{
    left: 158px;
    top: 0px;
    min-width: 160px;
}

/* MENU SECUNDARIO DEL HEADER */

.navSecondary {
    margin: auto;
    width: 25%;
    /*background-color: tomato;*/
    margin-left: 70%;
    margin-top: -85px;
}

.navSecondary ul a {
    text-decoration: none;
    padding: 10px 10px;
}

.navSecondary ul li{
    display: inline-block
}


/* CONTENT **/
#content{
    margin: auto;
    width: 95%;
    /* background-color: tomato; */
}

.ContentText{
    margin: auto;
    width: 30%;
    margin-left: 15%;
    /* background-color: thistle; */
    margin-top: 50px;

}

#mainContent {
    width: 100%;
    height: 100%;
    background-color: rgba(100%, 89.4%, 76.9%, 0.4);
}

#ContentLeft {    
    width: 50%;
    height: 360px;
    margin-left: 15%;
    background-image: url("./students.jpg");
    background-size: 100% 100%;
    /* background-color: aqua; */
}   

#ContentLogin {
    width: 20%;
    height: 360px;
    margin-left: 65%;
    margin-top: -24%;
    background-color: azure;
    border-radius: 15px;
}

 ul {    
    list-style: none;
}

#lilogin{
    margin-top: 35px;
    margin-left: 34px;
}

#liSignIn{
    margin-left: 150px;
    margin-top: -18px;
}

#lilogin a:hover{
    background-color: #1143;
    opacity: 0.4;
    color: #000
}

#liSignIn a:hover{
    background-color: red;
    opacity: 0.4;
    color: #fff;
}

#linklogin{
    padding: 15px 38px;    
    background-color: red;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    box-shadow: 3px 3px 8px #000;
}

#linkSignIn {
    padding: 15px 38px;
    background-color: #4343;
    color: black;
    text-decoration: none;    
    border-radius: 10px;
    box-shadow: 3px 3px 8px #111;
}

hr{
    margin: auto;
    width: 100%;
}

#DivAvatar {
    margin: auto;
    width: 45%;
    height: 30%;
    /* margin-left: 110%;
    margin-top: -80%; */
    background-color: #4343;
    background-image: url("./people.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-size: auto; */
    border-radius: 60%;
}
span{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30px;
}

/* VENTANA MODAL LOGIN - POR DAVID SAMANIEGO */
.ModalContentLogin {
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    opacity:0;
    pointer-events: none;
}
.col {
    display: inline-block;
    /* width: 80px; */
}

.col label{    
    width: 200px;
}

.ModalContentLogin:target {
	opacity:1;
	pointer-events: auto;
}

.ModalContentLogin >div {
    width: 300px;
    background: #fff;
    padding: 50px 20px 130px 20px ;
    position: relative;
    margin: 10% auto;
    background: -moz-linear-gradient(#fff, rgb(168, 2, 2));
    background: -webkit-linear-gradient(#fff, rgb(163, 2, 2));
    background: -o-linear-gradient(#fff, rgb(153, 3, 3));
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

/* VENTANA MODAL LOGIN - POR DAVID SAMANIEGO */

/** RESPONSIVE */
@media(min-width:1024px){
    .navPrimary{
        width: 1000px;
    }
}
